*{
    font-family:cursive;
}

header{
    margin: 20px auto;
    text-align: center;
}

.menu {
    margin: 20px 0;
}

.menu>a{
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 8px;
}

.main{
    margin: 5% 15%;
    text-align: justify;
}

.cover {
    margin: auto;
    width: fit-content;
}

.items {
    margin-bottom: 50px;
}